{% load i18n %}
<!DOCTYPE html>
<html>
{% load static %}
<meta charset="UTF-8">
<head>
	<title>Net-Liens</title>
	<!-- This one is very important for mobile !-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/my-amber-theme.css' %}">
</head>

<!-- <body onresize="resize_header()" onload="resize_header()"> -->
<body>
	<!--------------------------------------------------------
	Navbar
	--------------------------------------------------------->
	<div class="w3-top">
		<div class="w3-bar my-amber-theme w3-card" style="box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25)">
			<!-- Menu Button (MEDIUM AND SMALL SCREEN ONLY) -->
			<a class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large" href="javascript:void(0)" onclick="header_menu_press()" title="Menu" style="font-size: 17px;"><i class="fa fa-bars"></i></a>
			<!-- Home Button (ALL SCREEN) -->
			<a href="/">
				<img class="w3-bar-item my-amber-hover-theme w3-button" src="{% static 'images/net-liens.gif' %}" class="mainlogo" style="height: 41px" id="myLogoHomeButton"></img>
			</a>
			<!-- Loisirs Tourisme (LINK - LARGE SCREEN ONLY) -->
			<a href="http://www.loisirs-tourisme.com" target="_blankclass" class="w3-bar-item w3-blue w3-hover-black w3-button w3-hide-small" style="font-size: 17px;">Loisirs Tourisme</a>
			<!-- Language Selection (LARGE SCREEN ONLY) -->
			<div class="w3-dropdown-hover w3-hide-small w3-hide-medium w3-right" style="right: 0">
				<button class="my-amber-hover-theme-d4 w3-button" title="Language" style="font-size: 17px;">{% trans "Language" %} <i class="fa fa-caret-down"></i></button>
				<div class="w3-dropdown-content w3-amber w3-bar-block w3-card-4">
					<a href="/languages/en?next={{ request.get_full_path }}" class="w3-bar-item my-amber-hover-theme-d4 w3-button">English</a>
					<a href="/languages/fr?next={{ request.get_full_path }}" class="w3-bar-item my-amber-hover-theme-d4 w3-button">Français</a>
				</div>
			</div>
			<!-- Language Selection (SMALL AND MEDIUM SCREEN ONLY) -->
			<div class="w3-dropdown-hover w3-hide-large w3-right">
				<button class="my-amber-hover-theme-d4 w3-button" style="font-size: 17px;"><i class="fa fa-globe"></i></button>
				<div class="w3-dropdown-content w3-amber w3-bar-block w3-card-4" style="right: 0">
					<a href="/languages/en?next={{ request.get_full_path }}" class="w3-bar-item my-amber-hover-theme-d4 w3-button">English</a>
					<a href="/languages/fr?next={{ request.get_full_path }}" class="w3-bar-item my-amber-hover-theme-d4 w3-button">Français</a>
				</div>
			</div>
			<!-- Account management (Text for LARGE Screen and Icon for MEDIUM and SMALL Screen) -->
			{% if user.is_authenticated %}
				<!-- Log Out -->
				<a href="/account/logout" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-small w3-hide-medium w3-right">{% trans "Log Out" %}</a>
				<a href="/account/logout" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large w3-right" style="font-size: 17px;"><i class="fa fa-sign-out"></i></a>
				<!-- Account -->
				<a href="/account/" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-small w3-hide-medium w3-right">{% trans "Account" %}</a>
				<a href="/account/" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large w3-right" style="font-size: 17px;"><i class="fa fa-user"></i></a>
				<!-- Administration -->
				{% if user.is_staff %}
					<a href="/admin" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-small w3-hide-medium w3-right">Administration</a>
					<a href="/admin" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large w3-right" style="font-size: 17px;"><i class="fa fa-cog"></i></a>
				{% endif %}
			{% else %}
				<!-- Sign Up -->
				<a href="/account/signup" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-small w3-hide-medium w3-right">{% trans "Sign up" %}</a>
				<a href="/account/signup" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large w3-right" style="font-size: 17px;"><i class="fa fa-user-plus"></i></a>
				<!-- Log In -->
				<a href="/account/login" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-small w3-hide-medium w3-right">{% trans "Log in" %}</a>
				<a href="/account/login" class="w3-bar-item my-amber-hover-theme-d4 w3-button w3-hide-large w3-right" style="font-size: 17px;"><i class="fa fa-user"></i></a>
			{% endif %}
		</div> 
	</div>
	<div style="margin-left: 1%; margin-right: 1%" id="myHeaderNavbarSeparation"></div>
	<div class="w3-bar my-amber-theme"></div>
	<!--------------------------------------------------------
	Menu Bar (MEDIUM AND SMALL SCREEN ONLY)
	--------------------------------------------------------->
	<div id="myMenu" class="w3-bar-block my-amber-theme w3-hide w3-hide-large w3-top">
		<a class="w3-bar-item w3-black my-amber-hover-theme-d4 w3-button" onclick="header_menu_element_press()" id="myMenu_closeMenu"><i class="fa fa-bars"></i> {% trans "Close Menu" %}</a>
		<!-- Other (MEDIUM AND SMALL SCREEN) -->
		<a href="http://www.loisirs-tourisme.com" target="_blankclass" class="w3-bar-item w3-blue w3-button w3-hide-medium" onclick="header_menu_element_press()" id="myMenu_loisirstourisme">Loisirs Tourisme</a>
		<a href="#contact" class="w3-bar-item my-amber-hover-theme-d4 w3-button" onclick="header_menu_element_press()" id="myMenu_contact">{% trans "Contact" %}</a>
		<a href="#aboutNetLiens" class="w3-bar-item my-amber-hover-theme-d4 w3-button" onclick="header_menu_element_press()" id="myMenu_aboutNetLiens">{% trans "About Net-Liens" %}</a>
		<a href="#aboutCharter" class="w3-bar-item my-amber-hover-theme-d4 w3-button" onclick="header_menu_element_press()" id="myMenu_aboutCharter">{% trans "About Charter" %}</a>
		<a href="#aboutAdds" class="w3-bar-item my-amber-hover-theme-d4 w3-button" onclick="header_menu_element_press()" id="myMenu_aboutAdds">{% trans "About Adds" %}</a>
	</div>
</body>

<!-- -------------------------------- SCRIPT  ------------------------------------------- -->
<script>

	/* Called by Menu button */
	function header_menu_press() {
		// Show or hid menu bar
		var l_menu_bar = document.getElementById("myMenu");
		if(l_menu_bar.className.includes("w3-show")) {
			l_menu_bar.className = l_menu_bar.className.replace(" w3-show", "");
		}
		else {
			l_menu_bar.className += " w3-show";
		}
	}
	/* Called when an element inside menu is pressed */
	function header_menu_element_press() {
		document.getElementById("myMenu").className = document.getElementById("myMenu").className.replace(" w3-show", "");
		document.getElementById("myMenu_language_en").style.display = 'none';
		document.getElementById("myMenu_language_fr").style.display = 'none';
	}
	/* Called when language is pressed */
	function header_menu_language_press() {
		if(document.getElementById("myMenu_language_en").style.display == "block") {
			document.getElementById("myMenu_language_en").style.display = "none";
		}
		else {
			document.getElementById("myMenu_language_en").style.display = 'block';
		}
		if(document.getElementById("myMenu_language_fr").style.display == "block") {
			document.getElementById("myMenu_language_fr").style.display = "none";
		}
		else {
			document.getElementById("myMenu_language_fr").style.display = 'block';
		}
	}
</script>
</html>
