{% load i18n %}
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body style="margin-top:60px">
    <div class="w3-panel w3-card" style="padding:0px; max-width: 600px; width:90%; margin: auto;">
        <header>
            <h1 class="w3-center my-amber-theme-l1" style="margin-top: 0px; margin-bottom: 10px;">{% trans "Log In" %}</h1>
        </header>
            <div class="w3-container" style="margin-bottom: 10px;">
                <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                        <label><b>{{ field.label }}</b></label><br>
                        {{ field }}
                    {% endfor %}
                    <input name="submit" type="hidden" value="submit"/>
                    <button class="w3-button w3-block w3-card w3-black" type="submit" style="margin-top: 10px;">{% trans "Login" %}</button>
                    <a href="/account/signup" class="w3-button w3-block w3-card w3-white" style="margin-top: 10px;">{% trans 'Sign up' %}</a>
                    <a href="/account/password_reset" class="w3-container" style="margin-top: 10px; margin-bottom: 10px;">{% trans 'Lost password?' %}</a>
                    {% for error in form.field_errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>