{% load i18n %}
<!DOCTYPE html>
<html>
{% load static %}
<head style="margin-top:40px">
    <meta charset="UTF-8">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body style="margin-top:60px">
    <div class="w3-panel w3-card" style="padding:0px; max-width: 600px; width:90%; margin: auto;">
        <header>
            <h1 class="w3-center my-amber-theme-l1" style="margin-top: 0px; margin-bottom: 10px;">{{ self.title }}</h1>
        </header>
        <div class="w3-container" style="margin-bottom: 10px;">
            <form method="post">
            {% csrf_token %}
                <label><b>{{ form.email.label }}</b></label><br>
                <input type="text" name="email" placeholder="{{ form.email.label }}" autofocus required id="id_email"><br>
                {% for error in form.email.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                <input name="submit" type="hidden" value="submit"/>
                <button class="w3-button w3-block w3-card w3-black" type="submit" style="margin-top: 10px;">{% trans "Reset Password" %}</button>
                {% for error in form.field_errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </form>
        </div>
    </div> 
</body>
</html>