{% load i18n %}
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body style="margin-top:60px">
    <div class="w3-panel w3-card" style="padding:0px; max-width: 600px; width:90%; margin: auto;">
    <header>
        <h1 class="w3-center my-amber-theme-l1" style="margin-top: 0px; margin-bottom: 10px;">{{ self.title }}</h1>
    </header>
    <div class="w3-container" style="margin-bottom: 10px;">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</body>
</html>