{% load i18n %}
<!DOCTYPE html>
<html>
{% load static %}
<head style="margin-top:40px">
    <meta charset="UTF-8">
    {% include 'header.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body style="margin-top:60px">
    <div class="w3-panel w3-card" style="padding:0px; max-width: 600px; width:90%; margin: auto; margin-bottom: 20px;">
        <header>
            <h1 class="w3-center my-amber-theme-l1" style="margin-top: 0px; margin-bottom: 10px;">{% trans "Reset password" %}</h1>
        </header>
        <div class="w3-container" style="margin-bottom: 10px;">
            <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <label><b>{{ field.label }}</b></label><br>
                    {{ field }}
                    {% if field.help_text %}
                        <p>{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <button class="w3-button w3-block w3-card w3-black" type="submit" style="margin-top: 20px;">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</body>
</html>